uagrm_bot_backend/My_workflow_N8N.json
{
  "name": "Botsito uagrm - Single Webhook Strategy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        0
      ],
      "id": "3a62a941-fc9e-4bc6-871b-d97e2df405d0",
      "name": "Webhook",
      "webhookId": "eb3e0ebb-9410-4eee-8d2c-deb58ce0d9dd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "massive_broadcast_check",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "massive_broadcast",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -100,
        0
      ],
      "id": "router-if",
      "name": "Router: Is Massive?"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        120,
        -140
      ],
      "id": "9098cfeb-e53b-4afa-83b8-11589cb64b9d",
      "name": "Respond to Webhook (Bot)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1342d549-56a4-463b-b34f-48ccbf44f08c",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        -140
      ],
      "id": "47d57f7d-9887-42f3-9532-3d45a0eb54e5",
      "name": "If Message Received"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/chat/post/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $node['Router: Is Massive?'].json.body.entry[0].changes[0].value.messages[0].text.body }}"
            },
            {
              "name": "phone",
              "value": "={{ $node['Router: Is Massive?'].json.body.entry[0].changes[0].value.messages[0].from }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        520,
        -140
      ],
      "id": "a12dddf5-5787-429c-a43b-35bf5d2f114f",
      "name": "HTTP Request (Django AI)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/942146848979874/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAiqbruKKUIBQm2vj2lJuujVuAVxfPJGM7ONndeSeKBTrFbabiLU2SGxtd4cn3ZBN5HUNOGw9Dz6QjoNMYJAreCelBXbZBVk55zjXUxCxIaCeBmSgZC10ZBFuJ7vNIUbwArT49bqfhIXmLoZAMzvHw82kZB3hoTdhZCpTL1KZBvwkBS3ZAdRvq6eJnX6ixiiZA6ayNcMKhxXZBUbRuh3XWsRc9GKd8QVfTIRsTYPNwlYGXJ9PMDN4mIgjM7OTgC5USnSkFce9ZBONMNs3ueE3vW8pMqY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $node['Router: Is Massive?'].json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.response) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -140
      ],
      "id": "b609a0a9-7762-4d4a-85bd-0c4f0aa6df43",
      "name": "HTTP Request AWS Whatsapp (Bot)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"queued\"\n}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        120,
        180
      ],
      "id": "respond-massive",
      "name": "Respond to Webhook (Massive)"
    },
    {
      "parameters": {
        "operation": "splitOutItems",
        "fieldToSplitOut": "body.students",
        "options": {}
      },
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        320,
        180
      ],
      "id": "split-massive",
      "name": "Split Students"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/942146848979874/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAiqbruKKUIBQm2vj2lJuujVuAVxfPJGM7ONndeSeKBTrFbabiLU2SGxtd4cn3ZBN5HUNOGw9Dz6QjoNMYJAreCelBXbZBVk55zjXUxCxIaCeBmSgZC10ZBFuJ7vNIUbwArT49bqfhIXmLoZAMzvHw82kZB3hoTdhZCpTL1KZBvwkBS3ZAdRvq6eJnX6ixiiZA6ayNcMKhxXZBUbRuh3XWsRc9GKd8QVfTIRsTYPNwlYGXJ9PMDN4mIgjM7OTgC5USnSkFce9ZBONMNs3ueE3vW8pMqY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone_number }}\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($('Webhook').first().json.body.message) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        520,
        180
      ],
      "id": "http-massive",
      "name": "HTTP Request AWS Whatsapp (Massive)"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Router: Is Massive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Is Massive?": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Massive)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (Bot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook (Bot)": {
      "main": [
        [
          {
            "node": "If Message Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Message Received": {
      "main": [
        [
          {
            "node": "HTTP Request (Django AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Django AI)": {
      "main": [
        [
          {
            "node": "HTTP Request AWS Whatsapp (Bot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook (Massive)": {
      "main": [
        [
          {
            "node": "Split Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Students": {
      "main": [
        [
          {
            "node": "HTTP Request AWS Whatsapp (Massive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3f15757a-966a-4310-8b7e-c37d3377e106",
  "meta": {
    "instanceId": "aea9352418f4e1de1363d5120ae0943e0e8cc87a307063648b176e2c45a61039"
  },
  "id": "An1QsM5ShJYkTB29",
  "tags": []
}